#whiteboard {
  --whiteboard-margin: 20px;
  --whiteboard-z-index: 0;

  position: absolute;
  border: solid 2px black;
  box-sizing: border-box;
  background-color: whitesmoke;

  left: var(--whiteboard-margin);
  right: var(--whiteboard-margin);
  top: var(--whiteboard-margin);
  bottom: var(--whiteboard-margin);

  z-index: var(--whiteboard-z-index);
}

.whiteboard-box {
  border: solid 1px black;
  position: absolute;
  box-sizing: border-box;
}

.selected {
  background-color: #add8e66e;
}

.resizer {
  position: absolute;
  background-color: lightgrey;
}

.resize-overlay {
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  position: fixed;
}

.selection {
  position: absolute;
  background-color: #add8e66e;
}

.selection-boundary {
  position: absolute;
  border: dashed 1px lightgrey;
  left: 0;
  top: 0;
  margin-left: -1px;
  margin-top: -1px;
  z-index: 999;
}
